body {
    background-color: #E3F5F9;
}

a {
    text-decoration: none;
}


p#logo {
    border: 1px solid #3AA3E9;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.big-center {
    margin-top: 40vh;
    width: 340px;
    font-size: 50px;
}

.small {
    margin-top: 10vh;
    width: 200px;
    font-size: 25px;
}

p#logo, p#mensagem {
    color: #3AA3E9;
    text-align: center;
    transition: all 1s;
}

#mensagem {
    font-size: 25px;
    visibility: hidden;
}

form {
    width: 400px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
}

form, main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input.text {
    margin-bottom: 20px;
    border: 2px solid #3AA3E9;
    border-radius: 20px;
    padding-left: 20px;
    box-sizing: border-box;
}

input[type="submit"], a {
    margin-top: 20px;
}

input.text, input[type="submit"] {
    width: 300px;
    height: 45px;
}

input[type="submit"] {
    border: none;
    background-color: #3AA3E9;
    color: white;
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
}

input.text::placeholder{
    font-size: 15px;
    color: #8dccf7;
}

a {
    color: #3AA3E9 ;
    text-align: center;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

input.text:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
    transition: all 0.5s;
    border-color: #b9e3ff;
}

form > p {
    color: #3AA3E9;
    font-size: 20px;
    text-align: center; 
}

.margin-top {
    margin-top: 50px;
}

div.columns {
    width: 100%;
    height: 100px;
    background-color: white;
    margin-left: 100px;
}

/*Adaptações*/

@media screen and (max-width: 450px) {
    form > p {
        margin: 0 20px;
    }
}

@media screen and (max-width: 425px) {
    p.big-center {
        width: 225px;
        font-size: 30px;
    }

    form {
        width: auto;
    }
}


@media screen and (max-width: 387px) {
    input.text, input[type="submit"] {
        width: 250px;
    }
}